mat-card {
  width: 100%;
  margin: 0 auto; /* Centraliza o card na página */
  padding: 30px;
}

.radio-check{
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 0.3rem;
}
.form-group textarea{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.input-file{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.form-group{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
:host {
  display: block;
  overflow-y: auto;
  max-height: 30rem;
}

@media (min-width: 1400px){
  :host{
    max-height: 40rem;
  }
}
