<!-- checklist-ti-controle-de-acesso.component.html -->
<div class="container">
  <mat-card>
    <form [formGroup]="checklistForm" (ngSubmit)="handleSubmit()">
      <mat-card-header>
        <mat-toolbar color="primary" class="d-flex align-items-center justify-content-center">
          <mat-card-title>Controle de Acesso</mat-card-title>
          <button style=" top: -2px; left: 13px;" mat-mini-fab color="primary" (click)="openDialog()">
            <mat-icon>upload</mat-icon>
          </button>
        </mat-toolbar>
      </mat-card-header>
      <mat-divider></mat-divider>
      <div *ngFor="let question of control; let index = index" class="form-group d-flex align-items-center justify-content">
        <mat-card-content>{{ index + 1 }}. {{ question }}</mat-card-content>
        <section class="d-flex">
          <p><mat-checkbox formControlName="sim{{index}}">Sim</mat-checkbox></p>
          <p><mat-checkbox formControlName="nao{{index}}">Não</mat-checkbox></p>
        </section>
      </div>
      <div class="d-flex text-center align-items-center justify-content-center mt-4">
        <button mat-raised-button color="primary" type="submit">Enviar</button>
      </div>
    </form>
  </mat-card>
</div>
