/* SCSS */
.button-32 {
  background-color: #ffbf00;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  }

  &:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
  }
}
mat-card{
  background-color: #FFFF;
  width: 30%;
  height: 60%;
  top: 10rem;
  border-radius: 8%;
}
mat-card-content {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}


:host {
  display: block;
  height: 100vh;
  width: 100vw;
}

:host {
  background: linear-gradient(-45deg, #c0c0c0, #2c2c2c, #d3d3d3, #ffffff);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}
