<div class="inicio-inventario d-flex justify-content-center align-items-center">
  <mat-card class="d-flex justify-content-center align-items-center">
    <mat-card-content class="text-center gap-1">
      <mat-card-header>
        <mat-card-title><strong>Cadastrar Novo Encarregado dos Dados Pessoais</strong></mat-card-title>
      </mat-card-header>
      <form [formGroup]="form">

        <mat-form-field [floatLabel]="this.floatLabelControl">
          <mat-label>Nome completo</mat-label>
          <input matInput formControlName="tagName" required>
        </mat-form-field>

        <mat-form-field [floatLabel]="this.floatLabelControl">
          <mat-label>Nome social</mat-label>
          <input matInput formControlName="colletedData" required>
        </mat-form-field>

        <mat-form-field [floatLabel]="this.floatLabelControl">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="sourceData" required>
        </mat-form-field>
        <div class="d-flex justify-content-center">
          <button class="button-32">Atualizar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
