<form class="form" [formGroup]="form">

  <!-- step 1 -->
  <ng-container *ngIf="step == 1">
    <mat-form-field [floatLabel]="this.floatLabelControl">
      <mat-label>Identificação</mat-label>
      <input matInput formControlName="tagName" [readonly]="true">
    </mat-form-field>

    <mat-form-field [floatLabel]="this.floatLabelControl">
      <mat-label>Dados Coletados</mat-label>
      <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="3" formControlName="colletedData" required></textarea>
    </mat-form-field>

    <mat-form-field [floatLabel]="this.floatLabelControl">
      <mat-label>Setor</mat-label>
      <input matInput formControlName="sector" required>
    </mat-form-field>

    <mat-form-field [floatLabel]="this.floatLabelControl">
      <mat-label>Dados de menores de idade?</mat-label>
      <mat-select formControlName="underAgeData" required>
        <mat-option [value]="true">
          Sim
        </mat-option>
        <mat-option [value]="false">
          Não
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="goNext()">Próximo</button>
  </ng-container>

  <!-- step 2 -->
  <ng-container *ngIf="step == 2">

    <mat-form-field [floatLabel]="this.floatLabelControl">
      <mat-label>Fonte dos dados</mat-label>
      <input matInput formControlName="sourceData" required>
    </mat-form-field>

    <mat-form-field [floatLabel]="this.floatLabelControl">
      <mat-label>Razão dos dados</mat-label>
      <mat-select formControlName="reasonData" required>
        <mat-option *ngFor="let item of reasonData" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field [floatLabel]="this.floatLabelControl">
      <mat-label>Como foram armazenados?</mat-label>
      <input matInput formControlName="howStorage" required>
    </mat-form-field>

    <mat-form-field [floatLabel]="this.floatLabelControl">
      <mat-label>Segurança dos dados</mat-label>
      <input matInput formControlName="securityData" required>
    </mat-form-field>

    <div>
      <button style="margin-right: 10px;" mat-raised-button color="primary" (click)="goBack()">Voltar</button>
      <button mat-raised-button color="primary" (click)="goNext()">Próximo</button>
    </div>
  </ng-container>

  <!-- step 3 -->
  <ng-container *ngIf="step == 3">
    <mat-form-field [floatLabel]="this.floatLabelControl">
      <mat-label>Eliminação dos dados</mat-label>
      <input matInput formControlName="deadlineData" required>
    </mat-form-field>

    <mat-form-field [floatLabel]="this.floatLabelControl">
      <mat-label>Justificativa Legal dos Dados</mat-label>
      <input matInput formControlName="justificationData" required>
    </mat-form-field>

    <mat-form-field [floatLabel]="this.floatLabelControl">
      <mat-label>Dados Sensíveis</mat-label>
      <input matInput formControlName="sensitiveData">
    </mat-form-field>

    <mat-form-field [floatLabel]="this.floatLabelControl">
      <mat-label>Responsável pelos dados</mat-label>
      <input matInput formControlName="controller" required>
    </mat-form-field>

    <div>
      <button style="margin-right: 10px;" mat-raised-button color="primary" (click)="goBack()">Voltar</button>
      <button mat-raised-button color="primary" (click)="submit()">Salvar</button>
    </div>
  </ng-container>

</form>
