<div class="card text-dark">
  <div class="card-header">Preencha os campos abaixo para gerar sua termos de uso:</div>
  <div class="card-body">
    <form class="text-black">
      <div class="form-group">
        <label for="email">Nome da empresa</label>
        <input id="name" name="name" type="text" class="form-control" required [(ngModel)]="companyName">
      </div>
      <div class="form-group">
        <label for="email">E-mail para contato</label>
        <input id="email" name="email" type="text" class="form-control" required [(ngModel)]="companyEmail">
      </div>
      <div class="form-group">
        <label for="data">Descrição do seu Serviço</label>
        <input id="description" name="description" type="text" class="form-control" required [(ngModel)]="description">
      </div>
    </form>
    <br>
    <div class="button">
      <button class="btn btn-success" (click)="generatePDF()" [disabled]="loading">
        {{ loading ? 'Carregando' : 'Gerar' }}
      </button>
    </div>
  </div>
</div>
