.form-group{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-wrap: break-word;
  max-width: 65vw;
}

.buts{
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.mensagem__erro {
  font-size: 12px;
  margin-left: 5px;
  color: red;
  margin-top: -3px;
  margin-bottom: 10px;
}
.botao__desabilitado {
  margin: 5px;

}

:host {
  display: block;
  overflow-y: auto;
  max-height: 75%;
}


