/* SCSS */

mat-card{
  width: 120%;
  border-radius: 2rem;
  margin-bottom: 2rem;
  margin-bottom: 2rem;
}
.painel1{
  display: flex;
  width: 30rem;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}
