<div class="container">
  <h2 class="text-center mb-5">Painel Checklist</h2>
    <div class="painel">
      <mat-button-toggle-group class="segunda w-100" aria-label="Painel 1">
        <button mat-raised-button routerLink="chacklist/introducao" class="rounded-pill mb-2">Introdução</button>
        <button mat-raised-button routerLink="chacklist/controle-de-acesso" class="rounded-pill mb-2">Controle de Acesso</button>
        <button mat-raised-button routerLink="chacklist/dados-armazenados" class="rounded-pill mb-2">Dados Armazenados</button>
        <button mat-raised-button routerLink="chacklist/seguranca-nas-comunicacoes" class="rounded-pill mb-2">Segurança nas Comunicações</button>
        <button mat-raised-button routerLink="chacklist/gerenciamento-de-vulnerabilidade" class="rounded-pill mb-2">Gerenciamento de Vulnerabilidade</button>
        <button mat-raised-button routerLink="chacklist/dispositivos-moveis" class="rounded-pill mb-2">Dispositivos Móveis</button>
      </mat-button-toggle-group>
      <mat-button-toggle-group class="segunda w-100" aria-label="Painel 2">
        <button mat-raised-button routerLink="chacklist/servicos-em-nuvem" class="rounded-pill mb-2">Serviços em Nuvem</button>
        <button mat-raised-button routerLink="chacklist/cookies" class="rounded-pill mb-2">Cookies</button>
        <button mat-raised-button routerLink="chacklist/politica-de-seguranca-da-informacao" class="rounded-pill mb-2">Política de Segurança da Informação</button>
        <button mat-raised-button routerLink="chacklist/conscientizacao-e-treinamento" class="rounded-pill mb-2">Conscientização e Treinamento</button>
        <button mat-raised-button routerLink="chacklist/contratos" class="rounded-pill mb-2">Contratos</button>
      </mat-button-toggle-group>
    </div>
</div>
