mat-card{
  background-color: #FFFF;
  width: 30vw;
  height: 100%;
  top: 10rem;
  border-radius: 2%;
}
mat-card-content {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

mat-form-field{
  width: 15vw;
}
