<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Privacidade Pro</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Privacidade Pro</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul *ngFor="let module of modules" class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <mat-accordion>
              <mat-expansion-panel class="expansion-panel" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title class="expansion-panel-title">
                    {{module.name}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-container *ngFor="let link of module.links">
                  <a class="dropdown-item d-flex align-items-center"
                    [routerLink]="link.routerLink">
                    <mat-icon>chevron_right</mat-icon>{{link.label}}
                  </a>
                </ng-container>
              </mat-expansion-panel>
            </mat-accordion>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
