.nav-item{
  font-size: 32px;
  padding: 15px;
}
a {
  color: #FFFF; /* Cor padrão */

  &:hover {
    color: #ffbf00; /* Cor ao passar o mouse */
  }
}

.expansion-panel{
  background-color: rgb(33, 37, 41);
  box-shadow: none !important;
}

.expansion-panel-title{
  position:absolute;
  font-weight: 400;
  font-size: 40px;
  color: white;
}

.expansion-panel-title:hover{
  color: #ffbf00;
}

.dropdown-item{
  font-size: 20px;
  margin-top: 12px;
}

