<div class="inicio-inventario d-flex justify-content-center align-items-center">
  <ng-container *ngIf="!showQuizComponent">
    <app-inicial-criar-quiz-lpgd (naomostrar)="off()"></app-inicial-criar-quiz-lpgd>
  </ng-container>
  <div class="d-flex bg-white justify-content-center align-items-center">
    <ng-container *ngIf="showQuizComponent">
      <div class="container">
        <div class="d-flex justify-content-center pt-2 gap-5 mb-5">
          <mat-card-title class="pt-2 fs-5"><strong>Quiz LGPD</strong></mat-card-title>
          <button mat-mini-fab color="primary" (click)="show()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Resultado</th>
              <th>Feito em</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let quiz of quizzes">
              <td>{{ quiz.result }}</td>
              <td>{{ quiz.createdAt }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
</div>
