:host{
  overflow-x: hidden;
}

mat-card-content {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

table{
  width: 50rem;
}

mat-form-field{
  width: 25vw;
}

.form{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


.inicio-quiz {
  background-color: #646464;
  background-size: 400% 400%;
  height: 200vh;
  width: 100vw;
}
mat-card-title {
  margin-bottom: 1rem;
}
mat-card-title {
  color: #000000;

  &:hover {
    color: #ffbf00;
  }
}
.table td {
  padding: 0.9rem 0.5rem;
}

.quiz-content{
  border-radius: 1%;
}
