:host{
  overflow-x: hidden;
}

mat-form-field{
  width: 25vw;
}

.form{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

mat-card{
  display: flex;
  align-items: center;
  background-color: #FFFF;
  padding: 1px 25px;
  border-radius: 2%;
}
.inicio-quiz {
  background-color: #646464;
  background-size: 400% 400%;
  height: 250vh;
  width: 100vw;
}
mat-card-title {
  margin-bottom: 1rem;
}
mat-card-title {
  color: #000000;

  &:hover {
    color: #ffbf00;
  }
}
.table td {
  padding: 0.9rem 0.5rem;
}

.quiz-content{
  width: 60vw;
  height: 58vh;
}
